<div class="cont center">
  <form class="col-10" method="POST" action="/logout">
    <h1 class="mb-5">Personal area</h1>
    <p>Login: {{login}}</p>
    <p>Email: {{email}}</p>
    <button type="submit" class="btn btn-primary">Exit</button>
  </form>
</div>