@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

body {
  min-height: calc(100vh + 1px);
}

.animHeight {
  height: 0;
  visibility: hidden;
  transition: height 0.5s, visibility 0.3s, padding 0.3s, margin 0.3s;
  overflow: hidden;
}
.title {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 600;
  &:hover {
    color: rgba(255, 123, 0, 0.938) !important;
  }
}

.cont {
  min-height: calc(100vh - 141px);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df {
  display: flex;
}
.sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.none {
  display: none;
}
.center-height {
  display: flex;
  align-items: center;
}
.center-width {
  display: flex;
  justify-content: center;
}

.ver-cont {
  display: flex;
  flex-direction: column;
}

.delete {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > i {
    font-size: 1.2rem;
  }
}
.width100 {
  width: 100%;
}

.status-text,
.priority-text {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  cursor: pointer;
  & .select {
    transform: scale(0);
    padding: 10px;
    border-radius: 5px;
    background-color: #eb2ad1;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -35px;
    top: -35px;
    z-index: 1000;
    transition: transform 0.3s;
    & > span {
      cursor: pointer;
      color: rgb(53, 52, 52);
      &:hover {
        color: rgb(250, 251, 251);
      }
    }
  }
  &:hover .select {
    transform: scale(1);
  }
}

.waiting {
  background-color: rgba(83, 112, 243, 0.507);
}
.unknown {
  background-color: rgba(215, 142, 230, 0.513);
}
.done {
  background-color: rgba(255, 123, 0, 0.534);
}
.blue {
  background: #0069d9 !important;
}

footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #343a40;
  height: 50px;
  color: white;
  & > p {
    margin: 0;
  }
}

.cerror {
  display: none;
  font-size: 0.8rem;
  color: red;
}
.active {
  display: block;
}
.invis {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.valid {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1) !important;
  -moz-box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1) !important;
  box-shadow: 0px 0px 4px 1px rgba(7, 230, 15, 1);
}

.error {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
  -moz-box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
  box-shadow: 0px 0px 4px 1px rgba(230, 9, 9, 1) !important;
}

.fontSize {
  font-size: 15px !important;
}
.red {
  color: red;
}
