@-webkit-keyframes page-enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes page-enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes page-leave {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes page-leave {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.page-leave {
  -webkit-animation: page-leave 0.3s;
          animation: page-leave 0.3s;
}

.page-enter {
  -webkit-animation: page-enter 0.3s;
          animation: page-enter 0.3s;
}

@keyframes page-enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes page-leave {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.page-leave {
  -webkit-animation: page-leave 0.3s;
          animation: page-leave 0.3s;
}

.page-enter {
  -webkit-animation: page-enter 0.3s;
          animation: page-enter 0.3s;
}

body {
  min-height: calc(100vh + 1px);
}

.animHeight {
  padding: 5px;
  border: none;
  width: 100%;
  height: 0;
  visibility: hidden;
  -webkit-transition: height 0.5s, visibility 0.3s, padding 0.3s, margin 0.3s;
  transition: height 0.5s, visibility 0.3s, padding 0.3s, margin 0.3s;
  overflow: hidden;
}

.animHeight.active {
  height: 250px;
  visibility: visible;
}

.title {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 600;
}

.title:hover {
  color: rgba(255, 123, 0, 0.938) !important;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 141px);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.none {
  display: none;
}

.center-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ver-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delete {
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete > i {
  font-size: 1.2rem;
}

.width100 {
  width: 100%;
}

.status-text,
.priority-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.status-text .select,
.priority-text .select {
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 10px;
  border-radius: 5px;
  background-color: #eb2ad1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: -35px;
  top: -35px;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.status-text .select > span,
.priority-text .select > span {
  cursor: pointer;
  color: #353434;
}

.status-text .select > span:hover,
.priority-text .select > span:hover {
  color: #fafbfb;
}

.status-text:hover .select,
.priority-text:hover .select {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.waiting {
  background-color: rgba(83, 112, 243, 0.507);
}

.unknown {
  background-color: rgba(215, 142, 230, 0.513);
}

.done {
  background-color: rgba(255, 123, 0, 0.534);
}

.blue {
  background: #0069d9 !important;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #343a40;
  height: 50px;
  color: white;
}

footer > p {
  margin: 0;
}

.cerror {
  display: none;
  font-size: 0.8rem;
  color: red;
}

.active {
  display: block;
}

.invis {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.valid {
  -webkit-box-shadow: 0px 0px 4px 1px #07e60f !important;
  box-shadow: 0px 0px 4px 1px #07e60f;
}

.error {
  -webkit-box-shadow: 0px 0px 4px 1px #e60909 !important;
  box-shadow: 0px 0px 4px 1px #e60909 !important;
}

.fontSize {
  font-size: 15px !important;
}

.red {
  color: red;
}
/*# sourceMappingURL=global.css.map */