@mixin mq($width, $type: min) {
  @if $type==max {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

// pleceholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

// animations

$time: 0.3s;

@keyframes page-enter {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes page-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

.page-leave {
  animation: page-leave $time;
}
.page-enter {
  animation: page-enter $time;
}

//shadows

@mixin grayShadow {
  & {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(184, 184, 184);
    -moz-box-shadow: 0px 0px 5px 0px rgb(184, 184, 184);
    box-shadow: 0px 0px 5px 0px rgb(184, 184, 184);
  }
}

$baseBGC: #343a40;
$baseBGCOrange: rgba(133, 54, 8, 0.664);
$baseBGCGray: rgba(32, 32, 32, 0.061);

$baseWidth: 1200px;
$baseColor:  #0069d9;

$baseColorHover: rgb(250, 133, 38);
$baseColorActive: rgb(251, 85, 63);

//light text

$lightBaseFont: rgb(224, 222, 222);
$lightHoverFont: rgb(240, 192, 148);
$lightActiveFont: rgb(255, 157, 0);

// dark text
$darkBaseFont: rgba(0, 0, 0, 0.966);
$darkHoverFont: rgb(253, 124, 4);
$darkActiveFont: rgb(255, 102, 0);

//sizes
$heightHeader: 70px;
$heightFooter: 50px;


//
$focusColor: rgba(0, 140, 255, 0.219);
$errorFocusColor: rgba(255, 0, 0, 0.267);

$disabledColor: #4253666b;
// animations

$time: 0.3s;

@keyframes page-enter {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes page-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

.page-leave {
  animation: page-leave $time;
}
.page-enter {
  animation: page-enter $time;
}